/* App.css */

.welcome-section,
.al-magic-section,
.download-section {
  margin: 50px 0;
  padding: 0 20px;
}
.hiw {
  text-align: center;
  font-size: 60px;
}
.welcome-section p,
.al-magic-section p,
.download-section p {
  max-width: 800px;
  margin: 10px 30px;
  line-height: 1.6;
  text-align: justify;
}
