/* App.css */

.welcome-section,
.al-magic-section,
.download-section {
  margin: 50px 0;
  padding: 0 20px;
}
.hiw {
  text-align: center;
  font-size: 60px;
}
.welcome-section p,
.al-magic-section p,
.download-section p {
  max-width: 800px;
  margin: 10px 30px;
  line-height: 1.6;
  text-align: justify;
}
.section-content {
  display: flex;
  align-items: flex-start;
}

.text {
  flex: 1;
}

.image-container {
  flex: 0 0 auto;
  margin-left: 20px; /* Adjust this margin as needed */
}

.image-right {
  max-width: 100px; /* Set the maximum width as needed */
  height: auto;
  vertical-align: top;
}
