/* VFM.css */
.blog-container {
  display: flex;
  flex-direction: column;
}

.blog-section {
  display: flex;
  margin-bottom: 100px; /* Space between sections */
}

.photo-part {
  flex: 1;
  margin-right: 20px; /* Space between photo and text */
}

.text-part p {
  font-size: x-large;
}
.photo-part img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  transition: transform 0.3s ease-in-out; /* Smooth hover effect */
}

.photo-part img:hover {
  transform: scale(1.05); /* Scale up on hover for an interactive effect */
}
.text-part {
  flex: 1;
  padding: 0 20px;
  transition: transform 0.3s ease-in-out; /* Apply transform transition */
}

.text-part:hover {
  transform: scale(1.05); /* Scale up on hover for an interactive effect */
}
/* Your CSS file */
/* Your CSS file */
.banner {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-size: cover;
  background-position: center;
}

/* Additional responsive styles */
@media (max-width: 768px) {
  .blog-section {
    display: block; /* Show each section as a block on smaller screens */
    margin-bottom: 30px; /* Reduce space between sections */
  }

  .photo-part,
  .text-part {
    margin-right: 0;
    margin-bottom: 20px; /* Space between photo and text on mobile */
  }

  .text-part p {
    font-size: large; /* Adjust font size for smaller screens */
  }
  .banner {
    height: 20vh; /* Adjusted height for smaller screens */
  }
}
