.wcu {
  text-align: center;
}

.wcu-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
}

.feature {
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 1rem;
  padding: 1rem;
  width: 300px;
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
